<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--* favicon -->
<link
        rel="shortcut icon"
        th:href="@{/assets/images/logo/favicon.ico}"
        type="image/x-icon"
/>
<!--! css link -->
<link rel="stylesheet" th:href="@{/assets/style.css}" />
<!--? swiperjs cdn link -->
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
<!--todo tailwind cdn link -->
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: "#da373d",
          },
        },
      },
    };
</script>

<title>eCommerece</title>
</head>
<body>
<!--! newspaper popup -->
<div th:include="administrador/template_admin.html::popup"></div>
<div th:include="administrador/template_admin.html::header"></div>
<main>
<!-- !banner -->
<div class="banner mt-10 lg:-mt-4 flex items-center justify-center">
    <div class="swiper swiper-js">
        <div  class="swiper-wrapper h-64 lg:h-96 w-full lg:w-5/6 relative" id="swiperSlide" ></div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>
<!--todo Title Categories  -->
<div class="flex items-center justify-center mt-10">
    <div class="swiper categories_swiper">
        <div class="swiper-wrapper relative gap-4" id="titlecategories"></div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>
<!--? Products and categories  -->
<section class="w-full min-h-auto px-8 lg:px-0 lg:w-5/6 mx-auto mt-16 flex gap-8" >
    <aside class="sticky top-0 hidden lg:flex flex-col lg:w-1/4 max-h-screen">
        <div class="aside_section overflow-y-auto">
            <div class="categories w-full rounded-xl p-4 bg-white border shadow-lg">
                <h1 class="text-xl font-semibold mb-4">CATEGORY</h1>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Shirt</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Shorts & Jeans</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Jacket</a>
                            <span>50</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Dress & Frock</a>
                            <span>120</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Clothes
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/dress.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Sports</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Formal</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Casual</a>
                            <span>50</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Safety Shoes</a>
                            <span>120</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Footwear
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/shoes.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Earrings</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Couple Rings</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Necklace</a>
                            <span>50</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Jewelry
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/jewelry.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Clothes Perfume</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Deodorant</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Jacket</a>
                            <span>50</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Dress & Frock</a>
                            <span>120</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Perfume
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/perfume.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Shampoo</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Sunscreen</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Body Wash</a>
                            <span>50</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Makeup Kit</a>
                            <span>120</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Cosmetics
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/cosmetics.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Sunglasses</a>
                            <span>23</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Lenses</a>
                            <span>53</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Glasses
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/glasses.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
                <div class="border-b pb-3 text-lg text-gray-600">
                    <details>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Wallet</a>
                            <span>300</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Purse</a>
                            <span>30</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Gym Backpack</a>
                            <span>50</span>
                        </div>
                        <div class="flex justify-between items-baseline text-sm">
                            <a href="#">Shopping Bag</a>
                            <span>120</span>
                        </div>
                        <summary>
                            <div class="flex items-center gap-2">
                                Bags
                                <img
                                        class="w-4 h-4"
                                        th:src="@{assets/images/icons/bag.svg}"
                                        alt="productPicture"
                                />
                            </div>
                        </summary>
                    </details>
                </div>
            </div>

            <div
                    class="bestsellers 2-72 h-auto mt-10 flex flex-col items-start justify-start gap-4"
            >
                <h2 class="text-lg font-semibold">BEST SELLERS</h2>
                <div class="flex items-center justify-start gap-2">
                    <div
                            class="w-20 h-20 p-2 border shadow-lg bg-gray-300/20 rounded-md"
                    >
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/1.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="text-gray-900">Baby Fabric Shoes</h4>
                        <div class="stars text-yellow-500">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>
                        <div class="flex items-center justify-start gap-4">
                            <s class="text-gray-500">$14.00</s> <strong>$7.00</strong>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-start gap-2">
                    <div
                            class="w-20 h-20 p-2 border shadow-lg bg-gray-300/20 rounded-md"
                    >
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/2.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="text-gray-900">Men's Hoodies T-Shirt</h4>
                        <div class="stars text-yellow-500">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div class="flex items-center justify-start gap-4">
                            <s class="text-gray-500">$5.00</s> <strong>$2.00</strong>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-start gap-2">
                    <div
                            class="w-20 h-20 p-2 border shadow-lg bg-gray-300/20 rounded-md"
                    >
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/3.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="text-gray-900">Girls T-Shirt</h4>
                        <div class="stars text-yellow-500">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                            <ion-icon name="star-outline"></ion-icon>
                        </div>
                        <div class="flex items-center justify-start gap-4">
                            <s class="text-gray-500">$10.00</s> <strong>$5.00</strong>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-start gap-2">
                    <div
                            class="w-20 h-20 p-2 border shadow-lg bg-gray-300/20 rounded-md"
                    >
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/4.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="text-gray-900">Woolen Hat For Men</h4>
                        <div class="stars text-yellow-500">
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star"></ion-icon>
                            <ion-icon name="star-half-outline"></ion-icon>
                        </div>
                        <div class="flex items-center justify-start gap-4">
                            <s class="text-gray-500">$24.00</s> <strong>$17.00</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

    <div class="products w-full lg:w-3/4 flex flex-col">
        <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <div class="NewArrivals flex flex-col gap-4">
                <h1 class="text-xl font-semibold border-b pb-4">New Arrivals</h1>
                <div class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start
                       gap-2 cursor-pointer" th:each="producto:${productos}" >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{/images/{img}(img=${producto.imagen})}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm text-sm" th:text="${producto.nombre}"  >
                            Relaxed Short Full...
                        </h4>
                        <h4>Clothes</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$7.00</strong>
                            <s class="text-gray-500">$14.00</s>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Trending flex flex-col gap-4">
                <h1 class="text-xl font-semibold border-b pb-4">Trending</h1>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/sports-5.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm text-sm">
                            Running & Trekking...
                        </h4>
                        <h4>Sports</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$82.00</strong>
                            <s class="text-gray-500">$101.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/sports-2.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Trekking & Running...
                        </h4>
                        <h4>Sports</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$78.00</strong>
                            <s class="text-gray-500">$93.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/party-wear-1.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Womens Party Wea...
                        </h4>
                        <h4>Party Wear</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$27.00</strong>
                            <s class="text-gray-500">$32.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/sports-3.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Sports Claw Women...
                        </h4>
                        <h4>Sports</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$12.00</strong>
                            <s class="text-gray-500">$24.00</s>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TopRated flex flex-col gap-4">
                <h1 class="text-xl font-semibold border-b pb-4">Top Rated</h1>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/watch-3.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Pocket Watch Leather...
                        </h4>
                        <h4>Watches</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$32.00</strong>
                            <s class="text-gray-500">$53.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/jewellery-3.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Silver Deer Heart Neck...
                        </h4>
                        <h4>Jewellery</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$12.00</strong>
                            <s class="text-gray-500">$32.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/perfume.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Titan 100 Ml Womens
                        </h4>
                        <h4>Perfume</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$74.00</strong>
                            <s class="text-gray-500">$104.00</s>
                        </div>
                    </div>
                </div>
                <div
                        class="w-full h-28 bg-white border shadow-sm rounded-lg flex items-center justify-start gap-2 cursor-pointer"
                >
                    <div class="w-20 h-20 p-2">
                        <img
                                class="w-full h-full"
                                th:src="@{assets/images/products/belt.jpg}"
                                alt=""
                        />
                    </div>
                    <div class="text-gray-700">
                        <h4 class="font-bold text-gray-900 text-sm">
                            Men's Leather Rever...
                        </h4>
                        <h4>Belt</h4>
                        <div class="flex items-center justify-start gap-4">
                            <strong class="text-red-400">$17.00</strong>
                            <s class="text-gray-500">$23.00</s>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="day my-10">
            <h1 class="font-semibold text-xl border-b py-4">Deal Of The Day</h1>
            <div
                    class="mt-10 w-full h-auto border rounded-lg flex flex-col lg:flex-row justify-between"
            >
                <img
                        class="lg:w-1/2"
                        th:src="@{assets/images/products/shampoo.jpg}"
                        alt=""
                />
                <div class="lg:w-1/2 flex flex-col items-start gap-2 p-4">
                    <div class="stars text-yellow-500">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-half-outline"></ion-icon>
                    </div>
                    <h4 class="font-bold text-lg">
                        SHAMPOO, CONDITIONER & FACEWASH PACKS
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor dolor sit
                        amet consectetur Lorem ipsum dolor
                    </p>
                    <div>
                        <strong class="text-red-400 font-bold text-xl">$150.00</strong>
                        <s class="text-xl text-gray-500">$200.00</s>
                    </div>
                    <button
                            class="bg-red-500 text-white rounded-xl py-2 px-4 text-md font-semibold"
                    >
                        ADD TO CART
                    </button>
                    <h3 class="mt-4 font-semibold text-sm">HURRY UP! OFFER ENDS IN:</h3>
                    <div
                            id="reverseTimer"
                            class="flex justify-between items-center gap-4 font-semibold text-sm text-black"
                    >
                        <h1
                                class="flex flex-col items-center justify-center bg-gray-300/20 border shadow-lg p-2 w-12 h-12 rounded-lg"
                                id="days"
                        ></h1>
                        <h1
                                class="flex flex-col items-center justify-center bg-gray-300/20 border shadow-lg p-2 w-12 h-12 rounded-lg"
                                id="hour"
                        ></h1>
                        <h1
                                class="flex flex-col items-center justify-center bg-gray-300/20 border shadow-lg p-2 w-12 h-12 rounded-lg"
                                id="minute"
                        ></h1>
                        <h1
                                class="flex flex-col items-center justify-center bg-gray-300/20 border shadow-lg p-2 w-12 h-12 rounded-lg"
                                id="second"
                        ></h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="newProductsContainer">
            <h1 class="font-semibold text-xl border-b py-4">New Products</h1>
            <div class="newProducts grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"  id="newProducts" >
            </div>
        </div>
    </div>
</section>


</main>

<!--todo footer -->
<div th:include="administrador/template_admin.html::footer"></div>
</body>
</html>
